@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }

  body {
    display: block;
  }

  #heading-1,
  #heading-2 {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
    flex-wrap: wrap;
  }

  #unhappy-link {
    font-size: 0.7rem;
    line-height: 18px;
  }

  #heading-1 h1,
  #heading-2 h1 {
    font-size: 1.4rem;
    line-height: 1.8rem;
    /* width: 80%; */
  }

  #hero-img {
    width: 95%;
    margin: 30px auto;
    align-self: flex-start;
    height: auto;
  }

  #heading-2 p {
    font-size: 12px;
    line-height: 18px;
    width: 100%;
  }

  #contact-form {
    width: 100%;
  }

  /* team */

  #team{
    width: auto;
    display: block;
  }

  #team-details{
    width: auto;
    padding-left: 5%;
  }
  #team-details p{
    width: auto;
  }

  #team-imgs{
    min-width: 0;
    width: 100%;
    justify-content: center;
    height: 100vw;
  }

  .team-member-img{
    width: 40%;
  }

  #team-details h3 {
    width: 90vw;
  }

  /* services */

  #services {
    width: 90%;
    margin: 0 auto 80px;
  }
  #services h1 {
    width: 90%;
    font-size: 2em;
    margin-bottom: -10px;
  }

  .service-card {
    margin: 30px 0;
  }

  /* our work */

  #our-works h1 {
    font-size: 2rem;
    line-height: 3rem;
    width: 60%;
    margin: 5%;
  }

  .project-card {
    width: 90%;
    margin: 50px auto;
  }
  .project-card img {
    width: 100%;
    height: auto;
  }

  .project-card:nth-child(odd) {
    top: 0;
  }


  /* last message */

  #last-message h2{
    margin-top: 250px;
    font-size: 1.5rem;
    line-height: 36px;
  }

  #gatsby-card{
    width: 90%;
    margin: auto;
    padding: 0%;
  }

  /* Footer */
   
  .footer-item{
    margin: 10px auto;
  }

  #footer-email-form{
    width: 90%;
    margin: auto;
  }
}
