@media screen and (max-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  main {
    width: 100%;
  }

  /* Navbar */

  #nav-btns {
    display: none;
  }

  nav {
    /* flex-direction: column; */
    position: relative;
    justify-content: space-between;
  }

  #dropdown-btn {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    border: none;
    background: none;
    font-size: larger;
  }

  #dropdown-list {
    display: none;
    position: absolute;
    right: 0%;
    top: 50px;
    background-color: #bbbabad0;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 20px;
    border-top-right-radius: 0;
  }

  #dropdown-list li {
    text-align: center;
    padding: 10px;
    margin: 10px 30px;
    border-bottom: 1px solid whitesmoke;
  }

  #dropdown-list li:last-child {
    border-bottom: none;
  }

  #dropdown-btn:hover + #dropdown-list,
  #dropdown-list:hover {
    display: block;
  }

  /* Headings */

  #heading-1,
  #heading-2 {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
    flex-wrap: wrap;
  }

  #unhappy-link {
    font-size: 0.7rem;
    line-height: 18px;
  }

  #heading-1 h1,
  #heading-2 h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    width: 80%;
  }

  #hero-img {
    width: 95%;
    margin: 30px auto;
    align-self: flex-start;
    height: auto;
  }

  #heading-2 p {
    font-size: 12px;
    line-height: 18px;
  }

  #contact-form {
    width: 60%;
  }

  /* team */

  #team {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 200px;
    align-content: center;
  }

  #team-imgs {
    min-width: 463px;
  }

  /* services */

  #services {
    width: 90%;
    margin: 0 auto 80px;
  }
  #services h1 {
    width: 90%;
    font-size: 2em;
    margin-bottom: -10px;
  }

  .service-card {
    margin: 30px 0;
  }

  #see-more{
    font-size: 1.2rem;
  }

  /* our work */

  #our-works h1 {
    font-size: 2rem;
    line-height: 3rem;
    width: 50%;
    margin-left:5%;
  }

  #projects-container{
    justify-content: space-around;
  }

  .project-card {
    width: 40%;
    margin: 50px 10px;
  }
  .project-card img {
    width: 100%;
    height: auto;
  }

  /* last msg */
  #last-message {
    margin-top: 250px;
    width: 95%;
    margin: auto;
  }

  #last-message h2 {
    width: 90%;
    font-size: 2rem;
    margin: 0 auto 50px;
  }

  /* footer */
  footer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;

    padding: 50px 12px 20px;
  }

  .footer-items {
    margin: 50px;
  }

  #footer-email-form {
    width: 60%;
    /* min-width: 400px; */
  }
}
