* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAVIGATION BAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  width: 90%;
}
#nav-btns {
  display: flex;
  justify-content: space-around;
  width: 60%;
  list-style: none;
}

#dropdown-btn, #dropdown-list{
  display: none;
}


#logo {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
  color: #333333;
}

.nav-btn {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #333333;
  transition: all 0.5s;
}

.nav-btn:hover{
    color: #2d9cdb;
    text-decoration: overline;
}
/* MAIN HEADER */

#heading-1 {
  width: 37%;
  /* min-width: 500px; */
  margin-left: 20%;
  margin-bottom: 50px;
  align-self: flex-start;
}

#unhappy-link {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #2d9cdb;
}

#heading-1 h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4.5rem;
  color: #333333;
  margin-top: 1rem;
}

#hero-img {
  width: 90%;
  border-radius: 18px;
}

#heading-2 {
  width: 25%;
  /* min-width: 400px; */
  margin: 40px 0 40px 20%;
  align-self: flex-start;
}

#heading-2 h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4.5rem;
  color: #333333;
}

#heading-2 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: #4f4f4f;
  margin-top: 40px;
}

#contact-form {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: #1f1e1e;
  margin-top: 50px;
}

.btn-inside-input {
  position: relative;
}

.btn-inside-input input {
  display: block;
  background: #f2f2f2;
  border-radius: 12px;
  height: 57px;
  padding: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: black;
  margin-top: 10px;
  border: none;
  width: 100%;
  border-radius: 12px;
}

#join-btn {
  background: #2d9cdb;
  border: none;
  border-radius: 12px;
  height: 55px;
  width: 20%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: #f2f2f2;

  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
}

#join-btn:hover{
    background-color: #333333;
    color: #e0e0e0;
}

/************ MAIN ************/

main {
  width: 75vw;
  margin: 200px auto 0px;
}

/* services */

#services h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 3.3rem;
  color: #333333;
  width: 27%;
  margin-bottom: 100px;
  min-width: 330px;
}

#service-cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-card {
  width: 25%;
  min-width: 300px;
  margin: 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}

.service-card:hover {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}

.service-logo {
  width: 67px;
  height: 67px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 20px;
}

.service-logo i {
  font-size: 1.56rem;
  color: white;
}

.ui-ux {
  background: #2d9cdb;
  border-radius: 16px;
}

.front-end {
  background: #27ae60;
  border-radius: 16px;
}

.back-end {
  background: #eb5757;
  border-radius: 16px;
}

.service-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #333333;
  margin: 20px;
}

.service-description {

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #4f4f4f;

  margin: 20px;
}

.get-service-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #828282;
  background: #e0e0e0;
  border-radius: 12px;
  margin: 20px;
  border: none;
  width: 110px;
  height: 50px;
  transition: all 0.5s;
}

.get-service-btn:hover {
  background-color: #2d9cdb;
  color: white;
}

/* our works */
#our-works{
    display: flex;
    flex-direction: column;
}

#our-works h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.37rem;
  color: #333333;
  width: 30%;
  min-width: 350px;
  margin-top: 200px;
}

#projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.project-card {
    width:40%;
    margin: 100px 0px;
    position: relative;
    transition: all 0.5s;
}

.project-card:nth-child(odd){
    top: 180px;
}

.project-card:hover {
  /* background: #d2d1d1; */
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
  padding: 25px;
}

.project-card img {
    border-radius: 12px;
    width : 100%;
}

.project-type {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.3rem;
    color: #828282;
}

.project-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #333333;
}

#see-more{
    align-self: flex-end;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #2D9CDB;
    text-decoration: none;
}

/* team  */

#team{
    margin-top: 250px;
    display: flex;
    align-items: center;
    height: 760px;
    justify-content: space-between;
    flex-wrap: wrap;
}

#team-details{
    width: 50%;
}

#team-imgs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    height: 100%;
    justify-content: center;
    width:48%;
    align-items: center;
    margin: auto;
}

#team-details h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.7rem;
    color: #EB5757;
    margin-bottom: 30px;
}

#team-details h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 3.3rem;
    color: #333333;
    margin-bottom: 30px;
}

#team-details p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #4F4F4F;
    width:80%;
}

.team-member-img{
    margin:10px;
    border-radius: 12px;
    width: 50%;
}

#team-details h6{
  margin-bottom: 0;
}
#team-details h3{
  margin-bottom: 10px;
}

/* last message */
#last-message h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 3.375rem;
    color: #333333;
    margin: 250px 0 50px;
    width: 65%;
    /* min-width: 720px; */
}

#gatsby-card{
    max-width: 370px;
    display: flex;
    justify-content: space-between;
}

#gatsby-card img{
    width: 30%;
    border-radius: 12px;
}

#gatsby-details{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#gatsby-name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #333333;
}

#gatsby-role{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.7rem;
    color: #828282;
}

/* FOOTER */

footer{
    background: #100E1D;
    height: 500px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
    width: 100vw;
}

#footer-links{
    list-style: none;
    color: white;
}

#footer-links li a{
    color: white;
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    transition: all 0.5s;
}

#footer-links li a:hover{
    color: #2d9cdb;
    text-decoration: none;
    font-size: 1.6rem;
}

#footer-links li{
    margin:10px;
}

#footer-contacts #logo{
    color: white;
}

.contact{
    display: inline-block;
    margin : 5px;
    transition: all 0.7s;
}

#footer-email-form label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.3rem;
    color: #F2F2F2;
}

#socials a{
    text-decoration: none;
}

